* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; 
  font-family: 'Arial', sans-serif; 
}

.game-board {
  position: relative;
  background-color: #333; 
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-size: cover; 
}



.game-board button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff; 
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  outline: none;
  
}

.game-board button:hover {
  background-color: #0056B3;
  transform: scale(1.1); 
}

.free-plan {
  position: absolute;
  background-color: #8b22e6; 
  top: 575px;
  left: 110px;
}

.ditto-food {
  position: absolute;
  background-color: #e66842; 
  top: 575px;
  left: 420px;
}

.ditto-bootcamp {
  position: absolute;
  background-color: #f0a431; 
  top: 575px;
  left: 720px;
}