* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: rgb(246, 164, 71);
}

.navbar {
  height: 10vh;
  width: 90vw;
  background-color: rgb(171, 165, 49);
}

.ditto-name {
  height: 10vh;
  width: 90vw;
  background-color: rgb(171, 165, 49);
  align-items: center;
}

.ditto-health {
  height: 10vh;
  width: 90vw;
  background-color: rgb(171, 165, 49);
  align-items: center;
}
.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  height: 70vh;
  width: 90vw;
  background-color: rgb(33, 33, 32);
}

.ditto {
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  left: 5%;
  top: 50%;
}

.footer {
  display: ;
  height: 10vh;
  width: 90vw;
  background-color: rgb(71, 94, 246);
  align-items: center;
}
